:root {
	--color-text: #fff;
	--color-title: #009fe3;
	--bg-body: #303031;
	--color-btn: rgba(50, 115, 220, 0.479);
}

body {
	background-color: var(--bg-body);
	font-family: 'Quicksand', sans-serif;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.div__content {
	display: grid;
	gap: 3rem;
	align-items: center;
}

.header__h1 {
	color: var(--color-title);
	font-size: 2.5rem;
	letter-spacing: 4px;
}

.header__h2 {
	color: var(--color-title);
	font-size: 1.5rem;
	letter-spacing: 4px;
}

.header__paragraph {
	color: var(--color-text);
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 1px;
}

.header__btn {
	background-color: var(--color-btn);
	color: var(--color-text);
	text-decoration: none;
	padding: 1px;
	border: 3px solid #3273dc;
	border-radius: 5px;
	font-size: 1.125rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header__img {
	width: 100%;
}

.footer {
	text-align: center;
}

@media (width > 768px) {
	.div__content {
		grid-template-columns: 1fr 1fr;
	}
}
